#dashboard-sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 25px;
}

#dashboard-sortable li {
    //margin: 0 3px 3px 0;
    margin-bottom: 30px;
    //padding: 0.4em;
    //padding-left: 1.5em;
    min-height: 100px;
    //background: #fff;
    //border: none;
}

#dashboard-sortable li fieldset {
    min-height: 88px;
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
}

.ui-state-highlight {
    background-color: #dfdfdf;
    border: #8d8d8d 1px solid;
}

.dashboard-list {
    position: relative;
}

.edit-dashboard-config {
    background: url("../images/config_button.png") top left no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -25px;
}

.check-dashboard-widgets {
    float: left;
    margin-right: 10px;
}

.dashboard-config-block {
    width: 100%;
    padding: 15px 15px;
    background: #dfdfdf;
    border-color: #999999;
    display: none;
}

.dashboard-config-list:after {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.widget-list-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.widget-list-item:last-child {
    padding-bottom: 0;
    border: none;
}

.widget-list-item .item-others {
    float: right;
}

.widget-list-item .item-others:after {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen and (max-width: 481px) {
    .widget-list-item .item-others {
        float: none;
        display: block;
    }
}