/* Benutzerprofil */

@media screen and (max-width: 800px) {

    #sep2 {
        display: none;
    }

    .general-right-container {
        border-top: 1px solid #ccc;
        border-left: none;
        clear: left;
        float: none;
        padding-top: 15px;
    }

}

@media screen and (max-width: 640px) {
    .v-separator{
        display: none;
    }

    .general-left-container {
        float: none;
    }

    .general-middle-container {
        border-top: 1px solid #ccc;
        float: none;
        width: 100%;
        padding-top: 15px;
    }

    .general-right-container {
        border-top: 1px solid #ccc;
        float: none;
        padding-top: 15px;
    }

    .general-left-container .picture-alternative {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 35px;
    }

    .general-left-container > img{
        margin-left: 50px;
        margin-bottom: 10px;
    }

    input.form-text {
        width: 200px;
    }

    textarea.form-textarea {
        width: 200px;
        height: 200px;
    }

}

/* Lebenslauf */

@media screen and (max-width: 1000px) {
    .cv-picture-container {
        float: none;
    }

    .cv-table, .cv-row, .cv-cell {
        display: inline;
    }

    .personal-cell {
        font-weight: bold;

    }

    .personal-row {
        padding-bottom: 10px;
        display: block;
    }
}